{% extends "layouts/default.html" %}
{% block title %}Common Lisp - Tabular demo{% endblock %}
{% block content %}
<div class="container">
  <h1>Common Lisp - Tabular demo</h1>
  <form>
    <div class="mb-4">
      <div class="col-6">
        <input class="form-control form-control-lg" type="text" placeholder="Search dish name..."  name="query" hx-post="/search?start=0&direction=asc&sort-by=name" hx-trigger="keyup changed delay:500ms" hx-target="#results">
      </div>
    </div>
  </form>
  <div id="results" >
    <p>{{total}} results found</p>
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th><a href="/?start=0&sort-by=name&amp;direction={{opposite-direction}}">Name
	      {% if sort-by == "name" and  direction == "asc" %} &uarr; {% endif %}
	      {% if sort-by == "name" and  direction == "desc" %} &darr; {% endif %}
	  </a></th>
          <th><a href="/?start=0&sort-by=rating&amp;direction={{opposite-direction}}">Rating
	      {% if sort-by == "rating" and  direction == "asc" %} &uarr; {% endif %}
	      {% if sort-by == "rating" and  direction == "desc" %} &darr; {% endif %}
	  </a></th>
          <th><a href="/?start=0&sort-by=price&amp;direction={{opposite-direction}}"> Price
	      {% if sort-by == "price" and  direction == "asc" %} &uarr; {% endif %}
	      {% if sort-by == "price" and  direction == "desc" %} &darr; {% endif %}
	  </a></th>
          <th><a href="/?start=0&sort-by=cuisine&amp;direction={{opposite-direction}}">Cuisine
	      {% if sort-by == "cuisine" and  direction == "asc" %} &uarr; {% endif %}
	      {% if sort-by == "cuisine" and  direction == "desc" %} &darr; {% endif %}
	  </a></th>
        </tr>
      </thead>
      <tbody>
        {% for food in foods %}
        <tr>
          <td>{{food.name}}</td>
          <td>
	    {% ifequal food.rating 1 %}&starf;{% endifequal %}
	    {% ifequal food.rating 2 %}&starf;&starf;{% endifequal %}
	    {% ifequal food.rating 3 %}&starf;&starf;&starf;{% endifequal %}
	    {% ifequal food.rating 4 %}&starf;&starf;&starf;&starf;{% endifequal %}
	    {% ifequal food.rating 5 %}&starf;&starf;&starf;&starf;&starf;{% endifequal %}
	  </td>
          <td>
	    ${{food.price}}
	  </td>
          <td>{{food.cuisine}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
	{% for page in pages %}
        <li class="page-item {% ifequal start page.start %} active {% endifequal %}" >
	  <a class="page-link" href="/?start={{page.start}}&amp;direction={{direction}}&amp;sort-by={{sort-by}}">{{page.id}}</a>
	</li>
	{% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
