{% extends "layouts/default.html" %}
{% block title %}Common Lisp - Tabular demo{% endblock %}
{% block content %}
<div class="container">
  <h1>Common Lisp - Tabular demo</h1>
  <form>
    <div class="mb-4">
      <div class="col-6">
        <input class="form-control form-control-lg" type="text" placeholder="Search..." name="query" hx-post="/search?start=0&amp;direction=asc&amp;sort-by=name" hx-trigger="keyup changed delay:500ms" hx-target="#results">
      </div>
    </div>
  </form>
  <div id="results" >
    <p>{{total}} results found</p>
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th> <a href="/?sort-by=name&amp;direction={{opposite-direction}}"> Name ↓</a></th>
          <th> <a href="/?sort-by=stars&amp;direction={{opposite-direction}}"> Stars</a></th>
          <th> <a href="/?sort-by=price&amp;direction={{opposite-direction}}"> Price</a></th>
          <th> <a href="/?sort-by=category&amp;direction={{opposite-direction}}"> Category</a></th>
        </tr>
      </thead>
      <tbody>
        {% for food in foods %}
        <tr>
          <td>{{food.name}}</td>
          <td>{{food.rating}}</td>
          <td>{{food.price}}</td>
          <td>{{food.cuisine}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
	{% for page in pages %}
        <li class="page-item {% ifequal start page.start %} active {% endifequal %}" >
	  <a class="page-link" href="/?start={{page.start}}&amp;direction={{page.direction}}&amp;sort-by={{page.sort-by}}">{{page.id}}</a>
	</li>
	{% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
